.height-full {
    height: 100vh;
}

#left {
  float: left;
  width: 33%;
}

#right {
  float: left;
  width: 66%;
}

textarea.editor {
    resize: none;
    padding: 8px;
	  line-height: 130%;
	  font-size: 13px;
	  font-style: inherit;
	  border: none;
	  border-right: 1px solid #cccccc;
}

.markup, textarea.editor {
  width: 90%;
  height: 100%;
}

p {
  word-wrap: break-word;
}

h2 {
  text-align: center;
  border-bottom: 1px solid;
}
