.height-full {
    height:100vh;
}

.board {
  width: 70%;
  height: 80%;
  background: cyan;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

rect {
  stroke: cyan;
  stroke-width: 1;
}
.dead {
  fill: gray;
}

.alive {
  fill: black;
}
