.height-full {
  height: 100vh;
  display: flex;
  background-color: lightseagreen;
}

.board {
  width: 75%;
  height: 75%;
  margin: auto;
  border-color: black;
}

rect {
  stroke: cyan;
  stroke-width: 1;
  background-color: cyan;
}

.dead {
  fill: gray;
}

.alive {
  fill: black;
}

